@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');



body{
    font-family:  sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
}


.ul_top_left
{
    display: flex;
    list-style-type: none;
    padding-left: 5%;
}
#Fabriques
{
    margin-right: 2em;
}
#Actualités
{
    margin-right: 2em;
}


#boy
{
    width: 20px;
    margin-right: 0.5em;
}

.FR
{
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 0%;
    right: 2%;
}
.Français
{
    margin-right: 2em;
}
#EN
{
    margin-right: 2em;
}
#Topright
{
    text-align: right;

}
.Contact
{
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 0%;
    right: 2%;
}

.dropdown-menu
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px;
    width: 100%;
}

#youtube
{
    margin-left: 0.5em;
}

#instagram
{
    margin-left: 0.5em;
}

#facebook
{
    margin-left: 0.5em;
}

#linkedin
{
    margin-left: 0.5em;
}

#Logo
{
    display: flex;
    position: relative;
    margin-left: 4%;
}

#AVVN
{
    font-weight: bold;
    display: flex;
    list-style-type: none;
}

#PR
{
    margin-right: 2em;
}

#ET
{
    margin-right: 2em;
}

#VO
{
    margin-right: 2em;
}

#CO
{
    margin-right: 2em;
    color: black;
}
#CO a:link
{
    text-decoration: none;
}

a
{
    color: black;
    text-decoration-line: none;

}

#button_home{
    width: 100px;
    margin: 0px 0px 25px 89px;
    padding: 8px 28px 0px 1px;
}


#logo_simplon{
    content: url("https://simplon.co/images/simplon-pictogramme-isotype-blanc-rvb-1.svg");
    position: absolute;
    right: 7%;
    top: 25%;
    transform: translateY(-50px);
    opacity: .2;
    width: 325px;
    height: 325px;
}

#Accueil{
    background-color:#CE0033;
    width: 100%;
    height: 270px;
    position: relative;
}

#Accueil h1{
    margin: 35px 21px 19px 91px;
    color: white;
    font-size: 50px;
}


#first_title{
text-align: center;
font-size: 37px;
font-weight: bold;
}

#card{
    text-align: center;
}

#card_texte{
    text-align: center;
    margin-left: 94px;
    margin-right: 94px;
    font-family: 'nunito sans';
    line-height: 1.5;
    height: 380px;
}

#card2{
    text-align: center;
    background-color: #F1F5F8;
    width: 100%;
    height: 270px;
}
#card2_component{
    margin-left: 50px;
    margin-right: 50px;
}

.second-title{
    padding: 10px 15px 0;
    margin: 0;
    color: #000;
    font-size: 37px;
    font-weight: bold;
}

#card2_text{
    font-family: 'Nunito sans';
    line-height: 1.5;
    margin-left: 60px;
    margin-right: 60px;
}

.first-title{
    text-align: center;
    font-size: 37px;
    font-weight: bold;
}

.card-body{
    height: 255px;
}

.card-text{
    font-family: 'nunito sans';

}



#footboxone
{
    display: flex;
    justify-content: space-around;
}


#footboxtwo
{
    background-color: #F1F5F8;
    width: 570px;
    height: 321.14px;
    text-align: center;
}


#footboxthree
{
    background-color: #CE0033;
    width: 570px;
    height: 321.14px;

}


#footboxthreetitle
{
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 42px;
}

#footboxthreep
{
    margin-right: 40px;
    margin-left: 40px;
    color: white;
    margin-top: -20px;
    margin-bottom: 40px;
}

#footboxthreelog
{
    text-align: center;
    width: 68%;
}




#footco
{
    background-color: #C30033;
    color: white;
    font-weight: bold;
    width: 335px;
    height: 44px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 1em;
    margin-left: 14%;
}


#footcoa
{
    color: white;
    padding: 50px;
}










#footboxq
{
    width: 374px;
    height: 141px;
    text-align: center;
    margin-left: 16%;
}





#email-newslatter
{
    height: 30px;
    width: 275px;
}


#emaillog
{
    color: #C30033;
    height: 35px;
}


#footerred
{
    background-color: #C30033;
    margin-top: 50px;
}

#fin
{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-right: 56px;
    padding: 3px 0px 40px 50px;
}


#foootlogo
{
    text-align: center;
    padding: 50px;
}

#foootlogo img{
    width: 300px;
    height: 94px;
}